################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/GreenQueen.WebAPI/GreenQueen.UI
/GreenQueen.WebAPI/GreenQueen.Client/node_modules
/GreenQueen.WebAPI/packages/*
